{% extends "blog/base.html" %}
{% block content %}
<!-- Page Header -->
<div class="container">
  <div class="row" style="margin-top:150px;">
    <div class="card col-12 col-lg-3">
      &nbsp;
      <img style="display:flex;" class="rounded-circle" alt="20x20" width=200 height=230
        src="{{url_for('static', filename='img/subash_prakash.jpeg')}}" data-holder-rendered="true">
      <h4>Subash Prakash</h4>
      <h4 style="color:rgba(105, 103, 103, 0.54)">Software Engineer</h4>
      <h4 style="color:rgba(54, 53, 53, 0.54)">XYZ</h4>
      <!--<h4 style="color:rgba(49, 48, 48, 0.54)">ABCD</h4>-->
    </div>
    <div class="col-12 col-lg-8">
      <p>
        Thank you for visiting my profile. I am Subash Prakash. I like to use open source tools and softwares to create
        tools for benefitting everyone
      </p>
      <div class="row">
        <div class="col-12 col-lg-6">
          <h4>Interests:</h1>
            <ul>
              <li>Helping and collaborating in projects 💻</li>
              <li>Discussion of ideas for startups ✏</li>
              <li>Learning more of AI 🤖</li>
            </ul>
        </div>
        <div class="col-12 col-lg-6">
          <h4>Hobbies:</h1>
            <li>Gaming 🎮</li>
            <li>Painting 🖌</li>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
<!-- Main Content -->
<div class="container">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" id="projectsTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active show" id="projects-tab" data-toggle="tab" href="#projects" role="tab"
        aria-controls="projects" aria-selected="true">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="experience-tab" data-toggle="tab" href="#experience" role="tab" aria-controls="experience"
        aria-selected="false">Experiences</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane fade active show" id="projects" role="tabpanel" aria-labelledby="projects-tab">
      <hr>
      <div class="row">
        <div class="col-12 col-lg-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Rank Based Detection Algorithm</h5>
              <p class="card-text">Rank based outlier detection algorithm implementation in python</p>
              <a href="https://github.com/prakass1/Rank_Based_Detection_Algorithm" class="btn btn-primary">More</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Traffic Sign Detection</h5>
              <p class="card-text">Detecting traffic signs by using traditional Computer Vision approaches</p>
              <a href="https://github.com/prakass1/detect-traffic-signs" class="btn btn-primary">More</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Interactive System to identify similar neighbors</h5>
              <p class="card-text">A prototype visualization system to explore and interact with the nearest neighbors
                and detect outliers within them</p>
              <a href="https://github.com/prakass1/InteractiveSimilarityExplorer" class="btn btn-primary">More</a>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <hr>
          <!--
        <div class="col-12 col-lg-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <hr>
        -->
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="experience" role="tabpanel" aria-labelledby="experience-tab">
      <div class="cv-timeline">
        <ul class="timeline">
          <!-- Item 1 -->
          <!--
          <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="flag">Freelancer</span>
                <span class="time-wrapper"><span class="time">2013 - present</span></span>
              </div>
              <div class="desc">My current employment. Way better than the position before!</div>
            </div>
          </li>
          -->
          <!-- Item 2 -->
          <li>
            <div class="direction-l">
              <div class="flag-wrapper">
                <span class="flag-old">OVGU, Magdeburg</span>
                <span class="time-wrapper"><span class="time">2017-2020</span></span>
              </div>
              <div class="desc flag-old">
                Masters in Data and Knowledge engineering with the focus towards combining machine learning with
                software engineer via building data analysis tools, machine learning prediction tools and
                understanding of data engineering pipelines.
              </div>
            </div>
          </li>
          <!-- Item 3 -->
          <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="flag-old">Torry Harris Integration Solutions, Bangalore</span>
                <span class="time-wrapper"><span class="time">2013-2017</span></span>
              </div>
              <div class="desc flag-old">Worked as software developer in the area of Telecom domain building REST
                apis, data ingestion, and automation activities.</div>
            </div>
          </li>
          <!-- Item 4 -->
          <li>
            <div class="direction-l">
              <div class="flag-wrapper">
                <span class="flag-old">Sir MVIT</span>
                <span class="time-wrapper"><span class="time">2009 - 2013</span></span>
              </div>
              <div class="desc flag-old"> Bachelor of Engineering in Information Science majoring computer science
                related subjects</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<hr>

{% endblock %}