{% extends "blog/base.html" %}
{% block content %}
<!-- Page Header -->
<header class="newhead">
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="site-heading">
        <h1>Clean Blog</h1>
        <span class="subheading">A Blog Theme by Start Bootstrap</span>
      </div>
    </div>
  </div>
</div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {% if posts_data %}
        {% for post in posts_data %}
          <hr>
          <div class="post-preview">
          <a href=" {{ url_for('posts.get_post_title', blog_title=post.title) }} ">
            <h2 class="post-title">
             {{ post.title }}
            </h2>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{ post.author }}</a>
            on {{post.posted_date.strftime('%B %d, %Y')}}</p>
          </div>
          <hr>
        {% endfor %}
      {% else %}
      <h3> No posts to show yet.</h3>
      {% endif %}
      <hr>
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
{% endblock %}