{% extends "blog/base.html" %}
{% block content %}
<!-- Page Header -->
<header class="newhead">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 mx-auto">
        {% if data_resp.post_data %}
        <div class="post-heading">
          <h1>{{data_resp.post_data.title}}</h1>
          <div style="margin-top: 10px;">
          {% for item in data_resp.tags %}
            <a href="{{url_for('posts.get_post_tag', tag=item.tag)}}" style="display:inline-block" class="btn-info btn-sm" role="button">
              {{item.tag}}
            </a>
          {% endfor %}
        </div>
          <div style="margin-top:10px;">
            <span class="meta">Posted by
              <a href="#">{{data_resp.post_data.author}}</a>
              on {{data_resp.post_data.posted_date.strftime('%B %d, %Y')}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 mx-auto">
        {{data_resp.post_data.content|safe}}
      </div>
    </div>
  </div>
</article>
{% else %}
<p>No content to show</p>
{% endif %}
<div class="container">
<h3 class="dividing header">Comments</h3>
<div class="comment border">
  <div class="ui threaded comments">
    <div class="comment">
      <a class="avatar">
        <img src="/images/avatar/small/matt.jpg">
      </a>
      <div class="content">
        <a class="author">Matt</a>
        <div class="metadata">
          <span class="date">Today at 5:42PM</span>
        </div>
        <div class="text">
          How artistic!
        </div>
        <div class="actions">
          <a class="reply">Reply</a>
        </div>
      </div>
    </div>
    <div class="comment">
      <a class="avatar">
        <img src="/images/avatar/small/elliot.jpg">
      </a>
      <div class="content">
        <a class="author">Elliot Fu</a>
        <div class="metadata">
          <span class="date">Yesterday at 12:30AM</span>
        </div>
        <div class="text">
          <p>This has been very useful for my research. Thanks as well!</p>
        </div>
        <div class="actions">
          <a class="reply">Reply</a>
        </div>
      </div>
      <div class="comments">
        <div class="comment">
          <a class="avatar">
            <img src="/images/avatar/small/jenny.jpg">
          </a>
          <div class="content">
            <a class="author">Jenny Hess</a>
            <div class="metadata">
              <span class="date">Just now</span>
            </div>
            <div class="text">
              Elliot you are always so right :)
            </div>
            <div class="actions">
              <a class="reply">Reply</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="comment">
      <a class="avatar">
        <img src="/images/avatar/small/joe.jpg">
      </a>
      <div class="content">
        <a class="author">Joe Henderson</a>
        <div class="metadata">
          <span class="date">5 days ago</span>
        </div>
        <div class="text">
          Dude, this is awesome. Thanks so much
        </div>
        <div class="actions">
          <a class="reply">Reply</a>
        </div>
      </div>
    </div>
</div>
</div>
{% endblock %}