{% extends "blog/base.html" %}
{% block content %}
<!-- Page Header -->
<header class="newhead">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 mx-auto">
        {% if data_resp.post_data %}
        <div class="post-heading">
          <h1>{{data_resp.post_data.title}}</h1>
          <div style="margin-top: 10px;">
            {% for item in data_resp.tags %}
            <a href="{{url_for('posts.get_post_tag', tag=item.tag)}}" style="display:inline-block"
              class="btn-primary btn-sm" role="button">
              {{item.tag}}
            </a>
            {% endfor %}
          </div>
          <div style="margin-top:10px;">
            <span class="meta">Posted by
              <a href="#">{{data_resp.post_data.author}}</a>
              on {{data_resp.post_data.posted_date.strftime('%B %d, %Y')}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 mx-auto">
        {{data_resp.post_data.content|safe}}
      </div>
    </div>
  </div>
</article>
{% else %}
<p>No content to show</p>
{% endif %}
<div class="container">
  <h3 class="dividing header">Comments</h3>
  <div class="comment border">
    <div class="ui threaded comments">
      {% for comment_info in data_resp.comments %}
      <div class="comment" comment-ref="{{comment_info.comment_ref_id}}">
        <a class="avatar">
          <img src="{{comment_info.image_url}}">
        </a>
        <div class="content">
          <a class="author">{{comment_info.author_name}}</a>
          <div class="metadata">
            <span class="date">{{comment_info.posted_date}}</span>
          </div>
          <div class="text">
            {{comment_info.content|safe}}
          </div>
          <!--<div class="actions">
          <a class="reply">Reply</a>
        </div>-->
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Form for comments -->
<hr>
<div class="container">
  <p>
  <h5>Leave a comment on how you felt of the article...</h5>
  </p>
  <main id="add-comment" class="col-md-9 col-lg-10">
    <div style="display:none;" class="alert alert-warning alert-dismissible fade show" role="alert" id="log">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form id="add-form-comment" method="POST">
      <div class="form-group">
        <h5>Author Name</h5>
        <input type="text" class="form-control" id="nameFormInput" placeholder="Your Name.." required>
      </div>
      <div class="form-group">
        <h5>Author Email</h5>
        <input type="text" class="form-control" id="emailFormInput" placeholder="Your Email.." required>
        <h5> Note: This email will not be shared to anyone</h5>
      </div>
      <div class="form-group">
        <h5>Comment</h5>
        <textarea style="height:150px;" class="form-control" id="commentForm" name="commentForm" required></textarea>
      </div>
      <div class="form-group">
        <div class="g-recaptcha" data-sitekey="{{site_key}}"></div>
        <br />
        <button type="submit" class="btn btn-dark">Comment</button>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      </div>
    </form>
  </main>
</div>
<hr>
{% endblock %}