{% extends "blog/base.html" %}
{% block content %}
<!-- Page Header -->
<header class="newhead">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% if post_data %}
        <div class="post-heading">
          <h1>{{post_data.title}}</h1>
          <!--<h2 class="subheading">Problems look mighty small from 150 miles up</h2>-->
          <span class="meta">Posted by
            <a href="#">{{post_data.author}}</a>
            on {{post_data.posted_date.strftime('%B %d, %Y')}}</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{post_data.content|safe}}
      </div>
    </div>
  </div>
</article>
<hr>
{% else %}
<p>No content to show</p>
{% endif %}
{% endblock %}